<a href="https://colab.research.google.com/github/Lavanya22AD025/LabExperiments/blob/main/Lab_Experiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Experiment 1
import math
def fact(n):
  fact=math.factorial(n)
  return fact

def pal(n):
  n=str(n)
  rev=n[::-1]
  if n==rev:
    return True
  else:
    return False

n=int(input("Enter a number  "))
if n%2!=0:
  fact=fact(n)
  length = len(str(fact))
  print("The Factorial is {}. The length is {}.".format(fact,length))
elif n%2==0:
  pal=pal(n)
  print("Palindrome:",pal)

Enter a number  13
The Factorial is 6227020800. The length is 10.

In [ ]:
# Experiment 2
str1 = input('Enter string 1: ')
str2 = input('Enter string 2: ')
count = 0
for i in str1:
  for j in str2:
    if i == j:
      count += 1
if count == len(str2):
  print("Yes")
else:
  print("No")

Enter string 1: gopertshsd
Enter string 2: ptg
Yes

In [ ]:
# Experiment 3
li = [] #declaring empty list
li = list(input().split()) #getting user input for list
first = li[0]
print("the first element of the list is",first) #getting first element of list
last = li[-1]
print("the last element of the list is",last) #getting last element of list
li2 = li[-3:]
print("the last 3 elements are", li2) #getting last 3 elements of list as a list

1 2 3 4 5
the first element of the list is 1
the last element of the list is 5
the last 3 elements are ['3', '4', '5']

In [ ]:
# Experiment 4
li = list(map(int,input().split()))
flag = 0
for i in range(len(li) - 1):
  if li[i] <= li[i+1]:
    continue
  else:
    print("It is not in ascending order")
    flag = 1
    break

if flag == 0:
  print("It is in ascending order")

1 4 2 3
It is not in ascending order

In [ ]:
# Experiment 5
tu = tuple(map(int, input().split()))
string = ''
for i in range(len(tu) - 1):
  string += str(tu[i])
print('the string is ', string, '\n', type(string))

1 2 3 45 78 90
the string is  1234578
 <class 'str'>

In [ ]:
# Experiment 6
tu = tuple(map(int, input().split()))
string = ''
for i in range(len(tu)):
  string += str(tu[i])
string = string[::-1]
revtu = ()
for i in string:
   revtu += (int(i),)


print("the reversed tuple is", revtu)

1 2 3 4
the reversed tuple is (4, 3, 2, 1)

In [ ]:
# Experiment 7
set1 = set(input("Input first set:  ").split())
set2 = set(input("Input second set:  ").split())
if set1.issubset(set2):
  print("The first set is a subset of the second set")

else:
  print("It is not a subset")

Input first set:  1 2 3
Input second set:  1 5 6
It is not a subset

In [ ]:
# Experiment 8
color = {}
n = int(input("Enter the number of elements "))
for i in range(n):
  key = input("Enter the key: ")
  value = input("Enter the value: ")
  color[key] = value
print("Dictionary elements are: \n")
for key, value in color.items():
  print(key, value)

Enter the number of elements 5
Enter the key: 1
Enter the value: red
Enter the key: 2
Enter the value: green
Enter the key: 3
Enter the value: blue
Enter the key: 4
Enter the value: yellow
Enter the key: 5
Enter the value: pink
Dictionary elements are:

1 red
2 green
3 blue
4 yellow
5 pink

In [ ]:
# Experiment 9
import numpy as np
li = list(map(int,input().split()))
a = np.array(li)
print("The Numpy Array is:",a)

1 2 3 4 5
The Numpy Array is: [1 2 3 4 5]

In [ ]:
# Experiment 10
import numpy as np
li = list(map(int,input().split()))
tu = tuple(map(int,input().split()))

a1 = np.array(li)
a2 = np.array(tu)
a12 = np.concatenate((a1,a2))
print("The combined array is:",a12)
print(type(a12))

1 2 3 4 5
6 7 8 9
The combined array is: [1 2 3 4 5 6 7 8 9]
<class 'numpy.ndarray'>

In [ ]:
# Experiment 11
import numpy as np
import pandas as pd
a = np.random.rand(3)
print("Array:",a)
df1 = pd.DataFrame(a)
print("DataFrame:\n", df1,"\n", type(df1),)

s = pd.Series(a)
print("\nSeries:\n",s)
df2 = pd.DataFrame(s)
print("DataFrame:\n", df2, "\n", type(df2))

Array: [0.86660759 0.41607233 0.32415873]
DataFrame:
           0
0  0.866608
1  0.416072
2  0.324159
 <class 'pandas.core.frame.DataFrame'>

Series:
 0    0.866608
1    0.416072
2    0.324159
dtype: float64
DataFrame:
           0
0  0.866608
1  0.416072
2  0.324159
 <class 'pandas.core.frame.DataFrame'>

In [ ]:
# Experiment 12
import pandas as pd
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([2, 4, 6, 8, 10])
print("Addition: \n", s1 + s2)
print("Subtraction: \n", s1 - s2)
print("Multiplication: \n", s1 * s2)
print("Division: \n", s1 / s2)

Addition:
 0     3
1     6
2     9
3    12
4    15
dtype: int64
Subtraction:
 0   -1
1   -2
2   -3
3   -4
4   -5
dtype: int64
Multiplication:
 0     2
1     8
2    18
3    32
4    50
dtype: int64
Division:
 0    0.5
1    0.5
2    0.5
3    0.5
4    0.5
dtype: float64